[Unit]
Description=Dell iDRAC Fan Controller Monitor
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitor-fan-controller.sh
User=root

[Install]
WantedBy=multi-user.target